*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
   color: #fff;
   border: 2px solid black;
   padding: 5rem;
   border-radius: 50px;
    background: #fffdfd;
    box-shadow:  20px 20px 20px #2e2e2e,
             -20px -20px 20px #ffffff;
}
#time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    background: #131212;
    box-shadow:  20px 20px 11px #bebebe,
                 -20px -20px 11px #ffffff;;
}
.digit{
    font-size: 5rem;
    font-weight: bold;
}
.text{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}
.logss{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    color: black;
}
#start{
    background-color: #0af558;
}
#stop{
    background-color: #db3434;
}
#reset{
    background-color: #080808;
}
#log {
    background-color: rgb(1, 26, 252);
}
